<section class="hero">
    <h1>Participating Restaurants</h1>
</section>
<section class="province-links">
    {{#each-in @model as |province restaurants|}}
        <h3>
            <a href="#{{province}}">{{province-code-to-name province}}</a>
        </h3>
    {{/each-in}}
</section>
<section>
    {{#each-in @model as |province restaurants|}}
        <h3 id="{{province}}">{{province-code-to-name province}}</h3>
        <div class='restaurant-cards'>
            {{#each restaurants as |r|}}
                <div class="restaurant-card">
                    <h4><LinkTo @route="restaurant" @model={{r}}>{{r.[Restaurant Name]}}</LinkTo></h4>
                    <p class="services">
                        {{r.[Services Offered]}}
                    </p>
                    <a href="https://www.google.com/maps?q={{r.[Restaurant Address]}}, {{r.City}}, {{r.Province}}, Canada">{{r.[Restaurant Address]}}, {{r.City}}</a>
                    {{#if r.[Restaurant phone]}}
                        <a href="tel:{{r.[Restaurant phone]}}">{{r.[Restaurant phone]}}</a>
                    {{/if}}
                    {{#if r.Website}}
                        <a href="{{r.Website}}">{{hostname r.Website}}</a>
                    {{/if}}
                    {{#if r.[Instagram Handle]}}
                        <a href="https://instagram.com/{{r.[Instagram Handle]}}">@{{r.[Instagram Handle]}}</a>
                    {{/if}}
                    <LinkTo @route="restaurant" @model={{r}} class="details">Details</LinkTo>
                </div>
            {{/each}}
        </div>
    {{/each-in}}
</section>
{{outlet}}