<section class="restaurant">
    <h1>{{model.[Restaurant Name]}}</h1>
    <ul class="services">
        {{#each model.[Services Offered] as |service|}}
            <li>{{service}}</li>
        {{/each}}
    </ul>
    <a href="https://www.google.com/maps?q={{model.[Restaurant Address]}}, {{model.City}}, {{model.Province}}, Canada">{{model.[Restaurant Address]}}, {{model.City}}</a>
    {{#if model.[Restaurant phone]}}
        <a href="tel:{{model.[Restaurant phone]}}">{{model.[Restaurant phone]}}</a>
    {{/if}}
    {{#if model.Website}}
        <a href="{{model.Website}}">{{hostname model.Website}}</a>
    {{/if}}
    {{#if model.[Instagram Handle]}}
        <a href="https://instagram.com/{{model.[Instagram Handle]}}">@{{model.[Instagram Handle]}}</a>
    {{/if}}
    {{#if model.[3rd Party Delivery Services]}}
        <p>
            Delivery available on: {{model.[3rd Party Delivery Services]}}
        </p>
    {{/if}}
    <p>
        {{model.[Additional offers or promotions]}}
    </p>
    {{#if model.[Gift card link]}}
        <a href="{{model.[Gift card link]}}">Buy a Gift Card</a>
    {{/if}}
    <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyD3lpjulRAtriiLnt5I08h4Bdf9VlYv6tg&q={{model.[Restaurant Address]}}, {{model.City}}, {{model.Province}}, Canada"></iframe>
    {{outlet}}
</section>